.club-button-add,
.user-button-link,
.panel-button-link,
.main-button-link {
  @include center;
  cursor: pointer;
  text-decoration: none !important;
  z-index: 2;
  background-color: $color-white;
  position: fixed;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  right: 15px;
  bottom: 15px;
  padding: 5px;
  box-shadow: 0 2px 5px 1px rgba($color-dark, $alpha: 0.5);
  transition: bottom 0.3s ease, box-shadow 0.3s ease; // icon
  i {
    border-radius: 50%;
    font-size: 40px;
    color: $color-red;
  } // mobile size
  @include small {
    right: 10px;
    bottom: 10px !important;
    box-shadow: 0 2px 5px 1px rgba($color-dark, $alpha: 0.8);
    i {
      border-radius: 50%;
      color: $color-red;
    }
  }
  .button-text {
    visibility: hidden;
    opacity: 0;
    width: 70px;
    background-color: $color-white;
    padding: 0 7px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 2px 0px rgba($color-dark, $alpha: 0.8);
    transition: visibility 0.3s, opacity 0.3s ease;
  }
  &:hover {
    bottom: 20px;
    box-shadow: 0 2.5px 5px 0px rgba($color-dark, $alpha: 0.6);
    @include small {
      box-shadow: 0 2px 5px 1px rgba($color-dark, $alpha: 0.8);
    }
    .button-text {
      visibility: visible;
      opacity: 1;
    }
  }
  &:active {
    bottom: 17px;
    box-shadow: 0 1px 2px 0px rgba($color-dark, $alpha: 0.8);
  }
}

.user-button-link {
  right: 80px;
  bottom: 15px;
  @include small {
    right: 70px;
  }
}

.panel-button-link {
  right: 146px;
  bottom: 15px;
  @include small {
    right: 133px;
  }
}
