$color-base: #5a6a8e;
$color-base-bold: #3b496a;
$color-white: #fff;
$color-white-bold: #f2f2f2;
$color-blue: #0099ff;
$color-blue-bold: #1663de;
$color-gray: #ccc;
$color-gray-bold: #a7a7a7;
$color-red: #6a011f;
$color-red-bold: #47081a;
$color-dark: #011627;
$color-dark-bold: #010e19;

$color-danger: #d9534f;
$color-success: #5cb85c;
$color-info: #5bc0de;
