@import 'color';
@import 'media';
@import 'form';
@import 'loading';
@import 'font';
@import './auth/login.scss';

// .font-roboto {
//   font-family: 'Roboto Slab', 'Kanit', sans-seri !important;
// }
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', 'Kanit', sans-seri;
  color: $color-base;
  a {
    text-decoration: none;
    color: $color-base;
  }
}
