@import 'color';
@import 'media';
@import 'form';
@import 'loading';
@import 'font';
@import './auth/main.scss';
@import './club/main.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', 'Kanit', sans-seri;
  color: $color-base;
  a {
    text-decoration: none;
    color: $color-base;
  }
  body:not(.modal-open) {
    padding-right: 0px !important;
  }
}

// fix add club button position when modal open
body.modal-open {
  .club-button-add {
    margin-right: 17px !important;
    @include small {
      margin-right: 0px !important;
    }
  }
}
