@import 'color';
@import 'media';
@import 'form';
@import 'loading';
@import 'font';
@import './auth/main.scss';
@import './club/main.scss';

// .font-roboto {
//   font-family: 'Roboto Slab', 'Kanit', sans-seri !important;
// }
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', 'Kanit', sans-seri;
  color: $color-base;
  a {
    text-decoration: none;
    color: $color-base;
  }
  body {
    padding-right: 0px !important;
    &.modal-open {
      padding-right: 17px !important;
      @include mobile {
        padding-right: 0px !important;
      }
    }
  }
}
