.teacher-club-body {
  .box {
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba($color-red, $alpha: 0.8);
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover,
    &:focus {
      transform: translateY(-2px);
      background-color: rgba($color-red, $alpha: 0.7);
      box-shadow: 0 1px 2px 0 rgba($color-dark, $alpha: 0.8);
    }
    span {
      color: $color-white;
    }
  }
  .box-collapse {
    .wrapper {
      border-radius: 7px;
      color: $color-dark;
      padding: 10px;
      background-color: $color-white;
      border: 1px solid $color-red;
    }
  }
}