.teacher-user {
  .teacher-user-body {
    thead {
      td {
        font-weight: bold;
      }
    }
  } // pagination
  .page-item.active .page-link {
    background-color: rgba($color-red, $alpha: 0.9);
    border-color: rgba($color-red, $alpha: 0.9);
  }
}