.club-header {
  margin-bottom: 10px;
  .col {
  }
}

.club-block {
  .club-item {
    .card {
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      margin-bottom: 20px;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 10px rgba($color-dark, $alpha: 0.3);
      }
      .card-img-container {
        width: 100%;
        height: 35vh;
        img {
          height: 35vh;
          object-fit: cover;
        }
      }
      .card-body {
        min-height: 150px;
      }
    }
  }
}

.loading-half-wrapper {
  min-height: 30vh;
  width: 100%;
  @include center;
}
